/* Reset Rules */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




/* Layout  */

.container{
    max-width: 800px;
    margin: 0 auto;
}


/* Style */
body{
    background-color: rgb(129, 129, 129);
}



/* Generating Button */

.button-div{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* Grid and Squares */
#grid{
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
}


.square{
    width: 10%;
    aspect-ratio: 1/1;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 31, 31);
    color: white;
}

/* Selected Grid Cell */

.bg-azure{
    background-color: rgb(0, 91, 196);
}